@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .hero-text {
    @apply text-6xl font-extrabold tracking-tight leading-tight;
  }

  .subhero-text {
    @apply text-3xl text-neutral-300 font-light max-w-xl;
  }

  .about-text {
    @apply text-2xl text-neutral-300 font-light;
  }

  .glow-pulse {
    animation: pulse-glow 2.5s infinite;
  }

  .logo-text {
    @apply text-2xl font-extrabold;
  }

  .link-text {
    @apply text-xl font-bold;
  }
}

/* Slow spin animation */
@keyframes pulse-glow {
  0%, 100% {
    box-shadow: 0 0 25px rgba(16,185,129,0.6);
  }
  50% {
    box-shadow: 0 0 40px rgba(16,185,129,0.9);
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
